    
.poll{
    background: #464b5e;
    margin-bottom: 4.8rem;
    margin-right: 2.4rem;
    margin-left: 2.4rem;
    width: 700px;
    max-width: 700px;
    position: fixed;
    top: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .poll-header {
    background: #3c4251;
    color: white;
    display:flex;
    justify-content: space-between;
    padding: 1.6rem;
  }
  
  .poll-header__title {
    margin: 0;
  }
  .poll-header__flag {
    margin: 0;
    transform:  scale(3) translateY(-0.4rem);
    transform-origin: right top;
  }
  
  .poll-content{
    color: white;
    margin: 0;
    padding: 1.6rem;
    text-align: center;
    border-bottom: 1px solid lighten(#464b5e, 10%);
    font-weight: 500;
    font-size: 2rem;
    word-break: break-all; 
  }


  
  input[type=radio] {
    position: absolute;
    visibility: hidden;
    display: none;
  }
  
  label {
    color: lighten(#332f35,40%);
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    padding: 5px 20px;
  }
  
  input[type=radio]:checked + label{
    color: lighten(#332f35,60%);
    background: lighten(#332f35,20%);
  }
  
  label + input[type=radio] + label {
    border-left: solid 3px lighten(#332f35,20%);
  }
  .radio-group {
    border: solid 3px lighten(#332f35,20%);
    display: inline-block;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
  }

  .poll-button {
    border: none;
    background: #404040;
    color: #ffffff !important;
    font-weight: 100;
    padding: 20px;
    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    margin-bottom: 1.6rem;
    }

  .poll-button:hover {
    color: #404040 !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    background: white;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.3s ease 0s;
    }
  
